body {
    font-family: "Poppins", sans-serif;
    background: #f9f6f8; /* light pastel */
    color: #1e3a8a;     /* dark blue text */
    margin: 0;
    padding: 12px;
}

.container {
    max-width: 420px;
    margin: auto;
}

.camera-area {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 6px;
}
video{
    width: 120%;
    border-radius: 14px;
}

canvas
{
    display:none;
}

button {
    background: #c8d8f6;
    border: none;
    border-radius: 999px;
    padding: 12px 28px;
    font-size: 18px;
    color: #1e3a8a;
    margin-top: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #aebede;
}

#countdown {
    font-size: 40px;
    font-weight: bold;
    color: #1e3a8a;
    margin: 4px 0;
}

/* Polaroid frame */
.photo-frame {
    background: white;
    width: 320px;
    padding: 10px;
    margin: 10px auto;
    border: 5px solid #f2f0f3;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.photo-frame img {
    width: 100%;
}

.photo-date {
    font-size: 16px;
    color: #1e3a8a;
    margin-top: 8px;
}
